## 데이터 준비

In [50]:
import pandas as pd

In [63]:
# 데이터 준비
def dataReady(x):
    boxOffice = pd.read_excel('data/' + x)
    boxOffice.columns = ['순위', '영화명', '개봉일', '매출액', '매출액 점유율', '관객수', '스크린수', '상영횟수', '대표국적', '국적', '배급사']
    boxOffice = boxOffice.drop([0, 1]) 
    boxOffice = boxOffice.reset_index()
    del boxOffice["index"]
    return boxOffice

In [65]:
boxOffice2018X = "연도별박스오피스_2018년.xlsx"
boxOffice2017X = "연도별박스오피스_2017년.xlsx"
boxOffice2016X = "연도별박스오피스_2016년.xlsx"
boxOffice2015X = "연도별박스오피스_2015년.xlsx"
boxOffice2014X = "연도별박스오피스_2014년.xlsx"
boxOffice2013X = "연도별박스오피스_2013년.xlsx"
boxOffice2012X = "연도별박스오피스_2012년.xlsx"
boxOffice2011X = "연도별박스오피스_2011년.xlsx"
boxOffice2010X = "연도별박스오피스_2010년.xlsx"
boxOffice2009X = "연도별박스오피스_2009년.xlsx"
boxOffice2008X = "연도별박스오피스_2008년.xlsx"
boxOffice2007X = "연도별박스오피스_2007년.xlsx"
boxOffice2006X = "연도별박스오피스_2006년.xlsx"
boxOffice2005X = "연도별박스오피스_2005년.xlsx"
boxOffice2004X = "연도별박스오피스_2004년.xlsx"

boxOffice2018 = dataReady(boxOffice2018X)
boxOffice2017 = dataReady(boxOffice2017X)
boxOffice2016 = dataReady(boxOffice2016X)
boxOffice2015 = dataReady(boxOffice2015X)
boxOffice2014 = dataReady(boxOffice2014X)
boxOffice2013 = dataReady(boxOffice2013X)
boxOffice2012 = dataReady(boxOffice2012X)
boxOffice2011 = dataReady(boxOffice2011X)
boxOffice2010 = dataReady(boxOffice2010X)
boxOffice2009 = dataReady(boxOffice2009X)
boxOffice2008 = dataReady(boxOffice2008X)
boxOffice2007 = dataReady(boxOffice2007X)
boxOffice2006 = dataReady(boxOffice2006X)
boxOffice2005 = dataReady(boxOffice2005X)
boxOffice2004 = dataReady(boxOffice2004X)

In [66]:
boxOffice2018.head()

,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사
0,1,신과함께-인과 연,2018-08-01 00:00:00,102659887909,0.065,12274163,2235,179991,한국,한국,롯데컬처웍스(주)롯데엔터테인먼트
1,2,어벤져스: 인피니티 워,2018-04-25 00:00:00,99926399769,0.063,11212710,2553,240553,미국,미국,월트디즈니컴퍼니코리아 유한책임회사
2,3,미션 임파서블: 폴아웃,2018-07-25 00:00:00,55888375112,0.035,6584915,1957,101375,미국,미국,롯데컬처웍스(주)롯데엔터테인먼트
3,4,신과함께-죄와 벌,2017-12-20 00:00:00,47356539705,0.03,5872180,1644,121975,한국,한국,롯데쇼핑㈜롯데엔터테인먼트
4,5,쥬라기 월드: 폴른 킹덤,2018-06-06 00:00:00,49770711037,0.031,5661128,1972,144779,미국,미국,유니버설픽쳐스인터내셔널 코리아(유)

In [67]:
type(boxOffice2018)

pandas.core.frame.DataFrame

In [68]:
boxOffice2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4510 entries, 0 to 4509
Data columns (total 11 columns):
순위         4510 non-null object
영화명        4509 non-null object
개봉일        2828 non-null object
매출액        4510 non-null object
매출액 점유율    4509 non-null object
관객수        4510 non-null object
스크린수       4510 non-null object
상영횟수       4510 non-null object
대표국적       4434 non-null object
국적         4432 non-null object
배급사        2511 non-null object
dtypes: object(11)
memory usage: 387.7+ KB

In [69]:
boxOffice2018.shape

(4510, 11)

In [70]:
boxOffice2017.head()

,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사
0,1,택시운전사,2017-08-02 00:00:00,95853645649,0.055,12186327,1906,184075,한국,한국,(주)쇼박스
1,2,신과함께-죄와 벌,2017-12-20 00:00:00,68350496432,0.039,8539495,1912,91301,한국,한국,롯데쇼핑㈜롯데엔터테인먼트
2,3,공조,2017-01-18 00:00:00,63783051326,0.036,7817618,1392,142989,한국,한국,씨제이이앤엠(주)
3,4,스파이더맨: 홈 커밍,2017-07-05 00:00:00,59125813820,0.034,7258678,1965,164448,미국,미국,소니픽쳐스엔터테인먼트코리아주식회사극장배급지점
4,5,범죄도시,2017-10-03 00:00:00,56318014149,0.032,6879841,1315,149334,한국,한국,"메가박스중앙(주)플러스엠,(주)키위미디어그룹"

In [71]:
type(boxOffice2017)

pandas.core.frame.DataFrame

In [72]:
boxOffice2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4807 entries, 0 to 4806
Data columns (total 11 columns):
순위         4807 non-null object
영화명        4806 non-null object
개봉일        2938 non-null object
매출액        4807 non-null object
매출액 점유율    4806 non-null object
관객수        4807 non-null object
스크린수       4807 non-null object
상영횟수       4807 non-null object
대표국적       4754 non-null object
국적         4753 non-null object
배급사        2671 non-null object
dtypes: object(11)
memory usage: 413.2+ KB

In [73]:
boxOffice2017.shape

(4807, 11)

## 데이터 합치기

In [74]:
# 데이터 합치기
df0 = pd.concat([boxOffice2018, boxOffice2017, boxOffice2016, boxOffice2015, boxOffice2014, boxOffice2013, boxOffice2012, boxOffice2011, boxOffice2010, boxOffice2009, boxOffice2008, boxOffice2007, boxOffice2006, boxOffice2005, boxOffice2004,], ignore_index=True)
df0

,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사
0,1,신과함께-인과 연,2018-08-01 00:00:00,102659887909,0.065,12274163,2235,179991,한국,한국,롯데컬처웍스(주)롯데엔터테인먼트
1,2,어벤져스: 인피니티 워,2018-04-25 00:00:00,99926399769,0.063,11212710,2553,240553,미국,미국,월트디즈니컴퍼니코리아 유한책임회사
2,3,미션 임파서블: 폴아웃,2018-07-25 00:00:00,55888375112,0.035,6584915,1957,101375,미국,미국,롯데컬처웍스(주)롯데엔터테인먼트
3,4,신과함께-죄와 벌,2017-12-20 00:00:00,47356539705,0.03,5872180,1644,121975,한국,한국,롯데쇼핑㈜롯데엔터테인먼트
4,5,쥬라기 월드: 폴른 킹덤,2018-06-06 00:00:00,49770711037,0.031,5661128,1972,144779,미국,미국,유니버설픽쳐스인터내셔널 코리아(유)
5,6,앤트맨과 와스프,2018-07-04 00:00:00,47466829685,0.03,5447981,1775,148243,미국,미국,월트디즈니컴퍼니코리아 유한책임회사
6,7,안시성,2018-09-19 00:00:00,46317920026,0.029,5437338,1538,110387,한국,한국,(주)넥스트엔터테인먼트월드(NEW)
7,8,블랙 팬서,2018-02-14 00:00:00,45885123957,0.029,5399227,1620,119212,미국,미국,월트디즈니컴퍼니코리아 유한책임회사
8,9,1987,2017-12-27 00:00:00,42914036108,0.027,5289949,1122,110604,한국,한국,씨제이이앤엠(주)
9,10,독전,2018-05-22 00:00:00,43484892913,0.027,5063620,1532,140009,한국,한국,(주)넥스트엔터테인먼트월드(NEW)
10,11,공작,2018-08-08 00:00:00,42788445176,0.027,4974467,1317,99004,한국,한국,씨제이이앤엠(주)
11,12,완벽한 타인,2018-10-31 00:00:00,38780215974,0.024,4623018,1324,116456,한국,한국,롯데컬처웍스(주)롯데엔터테인먼트
12,13,베놈,2018-10-03 00:00:00,34099025807,0.021,3887917,1306,116152,미국,미국,소니픽쳐스엔터테인먼트코리아주식회사극장배급지점
13,14,암수살인,2018-10-03 00:00:00,32993326548,0.021,3788982,1177,126127,한국,한국,(주)쇼박스
14,15,데드풀 2,2018-05-16 00:00:00,34185664639,0.022,3784602,1576,113309,미국,미국,이십세기폭스코리아(주)
15,16,보헤미안 랩소디,2018-10-31 00:00:00,32323677271,0.02,3689059,1179,85123,미국,미국,이십세기폭스코리아(주)
16,17,코코,2018-01-11 00:00:00,27685609440,0.017,3510040,1177,85948,미국,미국,월트디즈니컴퍼니코리아 유한책임회사
17,18,그것만이 내 세상,2018-01-17 00:00:00,27447949382,0.017,3418861,956,95426,한국,한국,씨제이이앤엠(주)
18,19,마녀,2018-06-27 00:00:00,27242029463,0.017,3189091,1117,90843,한국,한국,워너브러더스 코리아(주)
19,20,탐정: 리턴즈,2018-06-13 00:00:00,26909465678,0.017,3152873,1137,107907,한국,한국,씨제이이앤엠(주)
20,21,인크레더블 2,2018-07-18 00:00:00,24554683588,0.015,3033052,1605,70934,미국,미국,월트디즈니컴퍼니코리아 유한책임회사
21,22,서치,2018-08-29 00:00:00,25282164845,0.016,2949744,1096,95756,미국,미국,소니픽쳐스엔터테인먼트코리아주식회사극장배급지점
22,23,너의 결혼식,2018-08-22 00:00:00,23674540369,0.015,2820685,970,98179,한국,한국,메가박스중앙(주)플러스엠
23,24,곤지암,2018-03-28 00:00:00,21442194144,0.013,2675575,1124,88504,한국,한국,(주)쇼박스
24,25,지금 만나러 갑니다,2018-03-14 00:00:00,20800916128,0.013,2602273,1191,97538,한국,한국,롯데쇼핑㈜롯데엔터테인먼트
25,26,목격자,2018-08-15 00:00:00,21736545097,0.014,2524634,1021,71405,한국,한국,(주)넥스트엔터테인먼트월드(NEW)
26,27,조선명탐정: 흡혈괴마의 비밀,2018-02-08 00:00:00,19822839764,0.012,2444145,1249,74987,한국,한국,(주)쇼박스
27,28,메이즈 러너: 데스 큐어,2018-01-17 00:00:00,18902975104,0.012,2299751,1090,58922,미국,미국,이십세기폭스코리아(주)
28,29,맘마미아!2,2018-08-08 00:00:00,19609147003,0.012,2294043,750,59071,미국,미국,유니버설픽쳐스인터내셔널 코리아(유)
29,30,레디 플레이어 원,2018-03-28 00:00:00,19933108071,0.013,2254430,1079,77207,미국,미국,워너브러더스 코리아(주)
...,...,...,...,...,...,...,...,...,...,...,...
36006,281,킬러들의 수다,2001-10-12 00:00:00,35000,0,7,1,2,한국,한국,(주)시네마서비스
36007,282,디 아더스,2002-01-10 00:00:00,30000,0,6,1,2,미국,미국,"와이드 릴리즈(주),(주)씨네월드"
36008,283,아저씨 우리 결혼할까요?,2004-10-15 00:00:00,21000,0,4,1,3,홍콩,홍콩,씨네파크
36009,284,기브 잇 올,2004-10-14 00:00:00,19500,0,3,1,2,일본,일본,NaN
36010,284,어머! 물고기가 됐어요,2002-07-26 00:00:00,15000,0,3,1,2,덴마크,덴마크,시나브로엔터테인먼트(주)
36011,286,천지영웅,2004-12-10 00:00:00,6000,0,2,1,3,홍콩,홍콩,한국소니픽쳐스릴리징브에나비스타영화㈜
36012,286,수취인불명,2001-06-02 00:00:00,10000,0,2,1,1,한국,한국,(주)튜브엔터테인먼트
36013,286,블루베리,NaN,13000,0,2,1,1,프랑스,"프랑스,멕시코,영국",NaN
36014,289,공동경비구역 JSA,2000-09-08 00:00:00,6000,0,1,1,2,한국,한국,씨제이엔터테인먼트
36015,289,공공의 적,2002-01-24 00:00:00,6500,0,1,1,1,한국,한국,(주)시네마서비스
36016,291,환생,2003-10-31 00:00:00,0,0,0,1,1,일본,일본,시나브로엔터테인먼트(주)
36017,291,콜래트럴 데미지,2002-02-07 00:00:00,0,0,0,3,3,미국,미국,워너브러더스 코리아(주)
36018,291,클래식,2003-01-30 00:00:00,0,0,0,1,2,한국,한국,(주)시네마서비스
36019,291,금발이 너무해 2,2003-10-02 00:00:00,0,0,0,1,1,미국,미국,이십세기폭스필름코퍼레이션
36020,291,투 터프 가이즈,2004-12-31 00:00:00,0,0,0,1,1,스페인,스페인,씨네파크
36021,291,주온,2003-06-27 00:00:00,0,0,0,1,2,일본,일본,프라임픽쳐스
36022,291,플라스틱 트리,2003-08-29 00:00:00,0,0,0,1,1,한국,한국,무비즈엔터테인먼트㈜
36023,291,캐리비안의 해적 : 블랙펄의 저주,2003-09-05 00:00:00,0,0,0,1,1,미국,미국,월트디즈니코리아㈜
36024,291,듀엣,NaN,0,0,0,1,1,중국,중국,NaN
36025,291,"나를 책임져, 알피",2005-01-21 00:00:00,0,0,0,1,3,미국,미국,UIP코리아
36026,291,매트릭스3 레볼루션,2003-11-05 00:00:00,0,0,0,1,3,미국,미국,워너브러더스 코리아(주)
36027,291,사토라레,2003-11-21 00:00:00,0,0,0,1,3,일본,일본,(주)시네마서비스
36028,291,천년호,2003-11-28 00:00:00,0,0,0,1,4,한국,한국,(주)시네마서비스
36029,291,마스터 앤드 커맨더: 위대한 정복자,2003-11-28 00:00:00,0,0,0,1,1,미국,미국,이십세기폭스필름코퍼레이션
36030,291,미스틱 리버,2003-12-05 00:00:00,0,0,0,1,3,미국,미국,워너브러더스 코리아(주)
36031,291,춤추는 대수사선 2,2003-12-12 00:00:00,0,0,0,1,3,일본,일본,(주)오시네마
36032,291,스왈로우테일 버터플라이,2005-06-23 00:00:00,0,0,0,1,5,일본,일본,(주)튜브엔터테인먼트
36033,291,춤추는 대수사선,2000-07-22 00:00:00,0,0,0,1,4,일본,일본,NaN
36034,291,위험한 유혹,2002-11-14 00:00:00,0,0,0,1,1,미국,미국,이십세기폭스필름코퍼레이션
36035,합계,NaN,NaN,440728906206,NaN,69254626,12956,1156661,NaN,NaN,NaN

In [75]:
type(df0)

pandas.core.frame.DataFrame

In [76]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36036 entries, 0 to 36035
Data columns (total 11 columns):
순위         36036 non-null object
영화명        36016 non-null object
개봉일        21462 non-null object
매출액        36036 non-null object
매출액 점유율    36021 non-null object
관객수        36036 non-null object
스크린수       36036 non-null object
상영횟수       36036 non-null object
대표국적       35369 non-null object
국적         35351 non-null object
배급사        18771 non-null object
dtypes: object(11)
memory usage: 3.0+ MB

In [77]:
df0.shape

(36036, 11)

In [79]:
df0.head()

,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사
0,1,신과함께-인과 연,2018-08-01 00:00:00,102659887909,0.065,12274163,2235,179991,한국,한국,롯데컬처웍스(주)롯데엔터테인먼트
1,2,어벤져스: 인피니티 워,2018-04-25 00:00:00,99926399769,0.063,11212710,2553,240553,미국,미국,월트디즈니컴퍼니코리아 유한책임회사
2,3,미션 임파서블: 폴아웃,2018-07-25 00:00:00,55888375112,0.035,6584915,1957,101375,미국,미국,롯데컬처웍스(주)롯데엔터테인먼트
3,4,신과함께-죄와 벌,2017-12-20 00:00:00,47356539705,0.03,5872180,1644,121975,한국,한국,롯데쇼핑㈜롯데엔터테인먼트
4,5,쥬라기 월드: 폴른 킹덤,2018-06-06 00:00:00,49770711037,0.031,5661128,1972,144779,미국,미국,유니버설픽쳐스인터내셔널 코리아(유)

In [80]:
df0.head(10)

,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사
0,1,신과함께-인과 연,2018-08-01 00:00:00,102659887909,0.065,12274163,2235,179991,한국,한국,롯데컬처웍스(주)롯데엔터테인먼트
1,2,어벤져스: 인피니티 워,2018-04-25 00:00:00,99926399769,0.063,11212710,2553,240553,미국,미국,월트디즈니컴퍼니코리아 유한책임회사
2,3,미션 임파서블: 폴아웃,2018-07-25 00:00:00,55888375112,0.035,6584915,1957,101375,미국,미국,롯데컬처웍스(주)롯데엔터테인먼트
3,4,신과함께-죄와 벌,2017-12-20 00:00:00,47356539705,0.03,5872180,1644,121975,한국,한국,롯데쇼핑㈜롯데엔터테인먼트
4,5,쥬라기 월드: 폴른 킹덤,2018-06-06 00:00:00,49770711037,0.031,5661128,1972,144779,미국,미국,유니버설픽쳐스인터내셔널 코리아(유)
5,6,앤트맨과 와스프,2018-07-04 00:00:00,47466829685,0.03,5447981,1775,148243,미국,미국,월트디즈니컴퍼니코리아 유한책임회사
6,7,안시성,2018-09-19 00:00:00,46317920026,0.029,5437338,1538,110387,한국,한국,(주)넥스트엔터테인먼트월드(NEW)
7,8,블랙 팬서,2018-02-14 00:00:00,45885123957,0.029,5399227,1620,119212,미국,미국,월트디즈니컴퍼니코리아 유한책임회사
8,9,1987,2017-12-27 00:00:00,42914036108,0.027,5289949,1122,110604,한국,한국,씨제이이앤엠(주)
9,10,독전,2018-05-22 00:00:00,43484892913,0.027,5063620,1532,140009,한국,한국,(주)넥스트엔터테인먼트월드(NEW)

In [82]:
print('hi')

hi